html {
	background-color: #161a1b;
}

body {
	margin: 0 auto;
	padding-bottom: 20px;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color: white;
	font-size: 1em;
}

#wrapper {
	white-space: nowrap;
	width: 840px;
	margin: 0px auto;
}

#calc {
	height: 100%;
	margin: 0px auto;
}

fieldset {
	padding: 0.5em 1em 0.6em 1em;
	border-radius: 6px;
	border-color: #c0c0c0;
}

#char-panel {
	vertical-align: top;
}

label {
	display: inline-block;
	float: left;
	text-align: left;
	width: 8.7em;
}

#matchup-filters {
	display: none;
	text-align: center;
	white-space: normal;
	margin: 0.5em auto 1em auto;
}

#matchup-filter-title {
	text-align: center;
	font-size: 1em;
	margin: 1em 0;
}

#matchup-filters label {
	width: 6.9em;
}

#matchup-filters select, #matchup-filters input[type=text] {
	width: 8em;
	box-sizing: content-box; 
}

#matchup-filters button {
	margin: 0.5em;
}

.matchup-filter-block {
	display: inline-block;
	width: 15em;
	margin: 0.1em 1em;
}

.curr-hp-label {
	width: 5.7em;
}

.stat {
	width: 3em;
}

.stat-header {
	width: auto;
}

.char-info .info-section {
	margin: 0em 0em 1em 0em;
}

.char-info .info-section-bottom {
	margin: 0em 0em 0.2em 0em;
}

.char-info .info-section th {
	padding: 0em 0.3em;
	font-size: 0.8em;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.char-info select, .char-info input[type=number] {
	width: 12.3em;
	-webkit-box-sizing: border-box;
	-moz-box-size: border-box;
	box-sizing: border-box;
}

.char-info-panel {
	height: 100%;
}

.stat-info input[type=number], .current-hp input[type=number], .skill-select input[type=number] {
	width: 2.5em;
}

.stat-info select{
	width: 2.8em;	
}

.current-hp input[type=number], .skill-select input[type=number] {
	margin: 0em 0.2em 0em 0em;
}

.center-cell {
	text-align: center;
}

h1, h2, h3 {
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	padding: 0em;
	margin: 0em 0.2em;
}

#swap-cell {
	vertical-align: middle;
}

#swap {
	vertical-align: middle;
	padding: 0em 0.5em;
}

#swap-button {
	border: none;
	background-image: url(../img/swap.png);
	background-color: transparent;
	width: 38px;
	height: 42px;
	background-repeat: no-repeat;
}

#swap-button:hover {
	background-image: url(../img/swap-hover.png);
	cursor: pointer;
}

body::after {
	display: none;
	content: url(../img/swap-hover.png) url(../img/Portraits/Unselected-hover.png);
}

#swap-button:focus {
	outline: none;
}

#calc-header {
	width: 100%;
	min-width: 840px;
	background-color: gold;
	margin-bottom: 1em;
	vertical-align: middle;
}

#calc-header h1 {
	display: inline-block;
	padding: 0.3em;
	font-size: 1.1em;
	color: #0b0b0b;
	white-space: normal;
}

#calc-header a {
	padding: 0.3em;
	margin: 0 0.2em;
	float: right;
}

h2 {
	font-size: 1.5em;
	color: gold;
}

h3 {
	font-size: 1.4em;
	margin-bottom: 0.1em;
}

.attacker {
	color: deepskyblue;
}

.defender {
	color: #e34262;
}

.character-select, .weapon-select, .skill-select {
	line-height: 150%;
}

.denominator, .numerator {
	margin: 0em 0.1em;
}

#result-table {
	margin: 0 auto;
	text-align: center;
}

#interaction-list {
	list-style: none;
	white-space: normal;
	width: 700px;
	margin: 0em auto;
	padding: 0em;
}

.battle-interaction, .battle-interaction-final {
	padding: 0.6em 0em;
}

.battle-interaction-first, .battle-interaction-only {
	padding: 0 0 0.6em 0;
}

.battle-interaction, .battle-interaction-first {
	border-bottom: 1px solid #6c6c6c;
}

.battle-interaction-final, .battle-interaction-only {
	border-bottom: none;
}

.collapse-button:hover {
	cursor: pointer;
	color: gold;
}

.dmg {
	color: gold;
}

.collapsable {
	display: none;
}

.extra-info {
	color: #5b5b5b;
}

.heal-seperator {
	padding: 0em 0.5em;
}

.ability-desc {
	margin: 0em;
	padding: 0.3em 0em;
}

.ability-desc-container {
	width: 18.7em;
	white-space: normal;
}


#result-msg {
	margin: 0em;
	padding: 0.1em 0;
	font-weight: bold;
	font-size: 1.4em;
}

.inherit {
	color: #C30003;
}

.char-slots {
	display: inline-block;
	text-align: center;
	width: 18.7em;
}

.char-tab {
	display: inline-block;
	width: 17%;
	border: solid 1px #c0c0c0;
	background-color: transparent;
	background-size: cover;
	vertical-align: middle;
}

.char-tab:hover {
	background-color: white;
	border: solid 1px white;
	cursor: pointer;
}

.char-tab-selected {
	display: inline-block;
	width: 17%;
	border: solid 1px gold;
	background-color: #FCE77E;
	background-size: cover;
	vertical-align: middle;
}

.char-tab-unselected {
	display: inline-block;
	width: 17%;
	border: solid 1px #c0c0c0;
	background-color: transparent;
	background-size: cover;
	vertical-align: middle;
}

.char-tab-unselected:hover {
	content: url(../img/Portraits/Unselected-hover.png);
	cursor: pointer;
	background-color: #22292C;
	border: solid 1px white;
}

#matchups {
	display: none;
}

#matchup-display {
	width: 700px;
	display: none;
	margin: 0em auto 0.5em auto;
}

#matchup-table-container {
	margin: 1em auto 0.5em auto;
}

#matchup-table {
	width: 700px;
	text-align: center;
	border-collapse: collapse;
}

#matchup-table img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.matchup-char {
	font-weight: bold;
}

.matchup-char:hover {
	cursor: pointer;
	color: gold;
}

.matchup-header {
	background-color: #0F1315;
}

.matchup-row-offset {
	background-color: #0F1315;
}

#matchup-table th {
	color: gold;
	padding: 0.3em 0;
	border: 1px solid #6c6c6c;
}

#matchup-table td {
	border: 1px solid #6c6c6c;
}

#modes-container {
	text-align: center;
	vertical-align: middle;
	margin: 0;
}

#modes {
	display: inline-block;
}

.mode-button-label {
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	font-size: 1.05em;
	font-weight: bold;
	padding: 0.3em;
	width: 140px;
	text-align: center;
	border: 1px solid #c0c0c0;
}

.mode-button-label:hover {
	cursor: pointer;
	background-color: #22292C;
}

.mode-button:checked+label {
	color: #161a1b;
	background-color: gold;
	border: 1px solid gold;
}

.button-middle, .button-right {
	border-left: none;
}

.button-left {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.button-right {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.mode-button:checked+label.button-middle, .mode-button:checked+label.button-right {
	margin-left: -1px;
}

.mode-button {
	display:none;
}

.combat-portrait {
	margin: 0 auto 0.2em auto;
	display: block;
	width: 75px;
	height: 75px;
}

#attacker-portrait {
	border: 1px solid #00384C;
	background-color: #9DE4FF;
}

#defender-portrait {
	border: 1px solid #500B19;
	background-color: #E7627C;
}

.hp-remain {
	font-weight: bold;
	font-size: 1.1em;
}

.combat-char {
	padding: 0 1.5em;
}

#matchup-title {
	text-align: center;
}

#matchup-filter-button {
	color: #161a1b;
	background-color: gold;
	border-radius: 4px;
	padding: 0.2em 0.5em;
}

#matchup-filter-button:hover {
	background-color: #a8900e;
}

#matchup-overview {
	display: block;
	margin-bottom: 0.8em;
	text-align: center;
	font-weight: bold;
}
