html {
	background-color: #0b0b0b;
}

body {
	width: 860px;
	margin: 15px auto;
	padding: 20px 20px 50px 20px;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	color: white;
	font-size: 1em;
	background-color: #161a1b;
	border: 3px solid gold;
	border-radius: 6px;
}

#wrapper {
	white-space: nowrap;
	width: 840px;
	margin: 0px auto;
}

#calc {
	height: 100%;
	margin: 0px auto;
}

fieldset {
	padding: 0.5em 1em 0.6em 1em;
	border-radius: 6px;
	border-color: #c0c0c0;
}

#char-panel {
	vertical-align: top;
}

label {
	display: inline-block;
	float: left;
	width: 8.7em;
}

.curr-hp-label {
	width: 5.7em;
}

.stat {
	width: 3em;
}

.stat-header {
	width: auto;
}

.char-info .info-section {
	margin: 0em 0em 1em 0em;
}

.char-info .info-section-bottom {
	margin: 0em 0em 0.2em 0em;
}

.char-info .info-section th {
	padding: 0em 0.3em;
	font-size: 0.8em;
}

input[type=number]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.char-info select, .char-info input[type=number] {
	width: 12.3em;
	-webkit-box-sizing: border-box;
	-moz-box-size: border-box;
	box-sizing: border-box;
}

.char-info-panel {
	height: 100%;
}

.stat-info input[type=number], .current-hp input[type=number], .skill-select input[type=number] {
	width: 2.5em;
}

.stat-info select{
	width: 2.8em;	
}

.current-hp input[type=number], .skill-select input[type=number] {
	margin: 0em 0.2em 0em 0em;
}

.center-cell {
	text-align: center;
}

h1, h2, h3 {
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	padding: 0em;
	margin: 0em 0.2em;
}

#swap-cell {
	vertical-align: middle;
}

#swap {
	vertical-align: middle;
	padding: 0em 0.5em;
}

#swap-button {
	border: none;
	background-image: url(../img/swap.png);
	background-color: transparent;
	width: 38px;
	height: 42px;
	background-repeat: no-repeat;
}

#swap-button:hover {
	background-image: url(../img/swap-hover.png);
	cursor: pointer;
}

#swap-button:active {
	background-image: url(../img/swap-press.png);
	border: none;
}

body::after {
	display: none;
	content: url(../img/swap-hover.png) url(../img/swap-press.png) url(../img/Portraits/Unselected-hover.png);
}

#swap-button:focus {
	outline: none;
}

h1 {
	font-size: 4.2em;
	margin: 0.3em;
	color: gold;
	text-align: center;
	white-space: normal;
	line-height: 75%;
}

.sub-h1 {
	font-size: 0.7em;
}

h2 {
	font-size: 1.5em;
	color: #f5de60;
}

h3 {
	font-size: 1.1em;
	margin: 0em 0em 0.2em 0em;
}

.attacker {
	color: deepskyblue;
}

.defender {
	color: #e34262;
}

.character-select, .weapon-select, .skill-select {
	line-height: 150%;
}

.denominator, .numerator {
	margin: 0em 0.1em;
}

#result-table {
	width: 100%;
	text-align: center;
}

.column-line {
	border-right: 1px solid #6c6c6c;
}

#interaction-list {
	list-style: none;
	white-space: normal;
	width: 700px;
	margin: 0em auto;
	padding: 0em;
}

.battle-interaction, .battle-interaction-final {
	padding: 0.6em 0em;
}

.battle-interaction-first, .battle-interaction-only {
	padding: 0 0 0.6em 0;
}

.battle-interaction, .battle-interaction-first {
	border-bottom: 1px solid #6c6c6c;
}

.battle-interaction-final, .battle-interaction-only {
	border-bottom: none;
}

.collapse-button {
	cursor: pointer;
}

.collapse-button:hover {
	color: gold;
}

.dmg {
	color: gold;
}

.collapsable {
	display: none;
}

.extra-info {
	color: #5b5b5b;
}

.heal-seperator {
	padding: 0em 0.5em;
}

.ability-desc {
	margin: 0em;
	padding: 0.3em 0em;
}

.ability-desc-container {
	width: 18.7em;
	white-space: normal;
}


#result-msg {
	margin: 0em;
	padding: 0em;
	font-weight: bold;
	font-size: 1.4em;
}

.inherit {
	color: #C30003;
}

.char-slots {
	display: inline-block;
	text-align: center;
	width: 18.7em;
}

.char-tab {
	display: inline-block;
	width: 17%;
	border: solid 1px #c0c0c0;
	background-color: transparent;
	background-size: cover;
	vertical-align: middle;
}

.char-tab:hover {
	background-color: white;
	border: solid 1px white;
	cursor: pointer;
}

.char-tab:active {
	background-color: #FCE77E;
	border: solid 1px gold;
}

.char-tab-selected {
	display: inline-block;
	width: 17%;
	border: solid 1px gold;
	background-color: #FCE77E;
	background-size: cover;
	vertical-align: middle;
}

.char-tab-unselected {
	display: inline-block;
	width: 17%;
	border: solid 1px #c0c0c0;
	background-color: transparent;
	background-size: cover;
	vertical-align: middle;
}

.char-tab-unselected:hover {
	content: url(../img/Portraits/Unselected-hover.png);
	cursor: pointer;
	background-color: #22292C;
	border: solid 1px white;
}
