<div id="override-panel" class="mdc-card mdc-theme--background">
    <section class="mdc-card__primary">
        <h2 class="mdc-card__title--large">Matchup Overrides</h2>
    </section>

    <nav id="override-tab-bar" class="mdc-tab-bar mdc-tab-bar--icons-with-text mdc-tab-bar-upgraded">
        <a class="mdc-tab mdc-tab--with-icon-and-text mdc-ripple-upgraded mdc-tab--active">
            <i class="material-icons mdc-tab__icon" aria-hidden="true">person</i>
            <span class="mdc-tab__icon-text">Build</span>
        </a>
        <a class="mdc-tab mdc-tab--with-icon-and-text mdc-ripple-upgraded">
            <i class="material-icons mdc-tab__icon" aria-hidden="true">show_chart</i>
            <span class="mdc-tab__icon-text">Stats</span>
        </a>
        <a class="mdc-tab mdc-tab--with-icon-and-text mdc-ripple-upgraded">
            <i class="material-icons mdc-tab__icon" aria-hidden="true">report</i>
            <span class="mdc-tab__icon-text">Effects</span>
        </a>
        <span class="mdc-tab-bar__indicator" style="transform: translateX(0px) scale(0.333333, 1); visibility: visible;"></span>
    </nav>

    <div class="mdc-card__media">

        <div class="tab-panel info-section build-fields">
            <div class="mdc-form-field double-select">
                <label for="override-boon">Boon/Bane</label>
                <select id="override-boon" class="mdc-select override-option boon-select" title="Boon">
                    <option value="neutral">Neutral</option>
                    <option value="hp">+HP</option>
                    <option value="atk">+ATK</option>
                    <option value="spd">+SPD</option>
                    <option value="def">+DEF</option>
                    <option value="res">+RES</option>
                </select><select id="override-bane" class="mdc-select override-option bane-select" title="Bane">
                    <option value="neutral">Neutral</option>
                    <option value="hp">-HP</option>
                    <option value="atk">-ATK</option>
                    <option value="spd">-SPD</option>
                    <option value="def">-DEF</option>
                    <option value="res">-RES</option>
                </select>
            </div>
            <div>
                <div id="override-extra-char-info" class="collapsable">
                    <div class="mdc-form-field">
                        <label for="override-color">Color</label>
                        <select id="override-color" class="mdc-select override-option">
                            <option value="Red">Red</option>
                            <option value="Green">Green</option>
                            <option value="Blue">Blue</option>
                            <option value="Colorless">Colorless</option>
                        </select>
                    </div>
                    <div class="mdc-form-field">
                        <label for="override-weapon-type">Weapon Type</label>
                        <select id="override-weapon-type" class="mdc-select override-option">
                            <option value="Sword">Sword</option>
                            <option value="Red Tome">Red Tome</option>
                            <option value="Red Breath">Red Breath</option>
                            <option value="Axe">Axe</option>
                            <option value="Green Tome">Green Tome</option>
                            <option value="Green Breath">Green Breath</option>
                            <option value="Lance">Lance</option>
                            <option value="Blue Tome">Blue Tome</option>
                            <option value="Blue Breath">Blue Breath</option>
                            <option value="Bow">Bow</option>
                            <option value="Dagger">Dagger</option>
                            <option value="Staff">Staff</option>
                        </select>
                    </div>
                    <div class="mdc-form-field">
                        <label for="override-move-type">Move Type</label>
                        <select id="override-move-type" class="mdc-select override-option">
                            <option value="Infantry">Infantry</option>
                            <option value="Cavalry">Cavalry</option>
                            <option value="Flying">Flying</option>
                            <option value="Armored">Armored</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="info-section weapon-select">
                <div  class="mdc-form-field">
                    <label for="override-extra-weapon-info">
                        <span id="override-extra-weapon-info-1-btn" class="collapse-button" data-section="extra-weapon-info">Weapon</span>
                    </label>
                    <select id="override-weapon" class="mdc-select override-option"></select>
                </div>
                <div id="override-extra-weapon-info" class="extra-info collapsable">
                    <div class="ability-desc-container">
                        <p id="override-weapon-desc" class="mdc-select override-option ability-desc"></p>
                        <label>Might</label>
                        <span id="override-weapon-might" data-oldmt="0"></span>
                        <label>Range</label>
                        <span id="override-weapon-range"></span>
                        <label>Magical</label>
                        <span id="override-weapon-magical"></span>
                    </div>
                </div>
            </div>
            <div class="mdc-form-field">
                <label class="special-label">
                    <span class="override-collapse-button" data-section="extra-special-info">Special</span>
                </label>
                <select id="override-special" class="mdc-select override-option"></select>
            </div>
            <div id="override-extra-special-info" class="collapsable extra-info">
                <div class="ability-desc-container">
                    <p id="override-special-desc" class="ability-desc"></p>
                </div>
            </div>
            <div id="override-skills" class="info-section skill-select">
                <div class="mdc-form-field">
                    <label for="override-passive-a" class="passive-a-label">
                        <span class="override-collapse-button" data-section="extra-passive-a-info">Passive A</span>
                    </label>
                    <select id="override-passive-a" class="mdc-select override-option" data-skilltype="a"></select>
                </div>
                <div id="override-extra-passive-a-info" class="collapsable extra-info">
                    <div class="ability-desc-container">
                        <p id="override-passive-a-desc" class="ability-desc"></p>
                    </div>
                </div>

                <div class="mdc-form-field">
                    <label for="override-passive-b" class="passive-b-label">
                        <span class="override-collapse-button" data-section="extra-passive-b-info">Passive B</span>
                    </label>
                    <select id="override-passive-b" class="mdc-select override-option" data-skilltype="b"></select>
                </div>
                <div id="override-extra-passive-b-info" class="collapsable extra-info">
                    <div class="ability-desc-container">
                        <p id="override-passive-b-desc" class="ability-desc"></p>
                    </div>
                </div>

                <div class="mdc-form-field">
                    <label for="override-passive-c" class="passive-c-label">
                        <span class="override-collapse-button" data-section="extra-passive-c-info">Passive C</span>
                    </label>
                    <select id="override-passive-c" class="mdc-select override-option" data-skilltype="c"></select>
                </div>
                <div id="override-extra-passive-c-info" class="collapsable extra-info">
                    <div class="ability-desc-container">
                        <p id="override-passive-c-desc" class="ability-desc"></p>
                    </div>
                </div>

                <div class="mdc-form-field">
                    <label for="override-passive-s" class="passive-s-label">
                        <span class="override-collapse-button" data-section="extra-passive-s-info">Sacred Seal</span>
                    </label>
                    <select id="override-passive-s" class="mdc-select override-option" data-skilltype="s"></select>
                </div>
                <div id="override-extra-passive-s-info" class="collapsable extra-info">
                    <div class="ability-desc-container">
                        <p id="override-passive-s-desc" class="ability-desc"></p>
                    </div>
                </div>

                <div class="mdc-form-field">
                    <label for="override-assist" class="assist-label">
                        <span class="override-collapse-button" data-section="extra-assist-info">Assist</span>
                    </label>
                    <select id="override-assist" class="mdc-select override-option"></select>
                </div>
                <div id="override-extra-assist-info" class="collapsable extra-info">
                    <div class="ability-desc-container">
                        <p id="override-assist-desc" class="ability-desc"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-panel">

            <div id="override-char-build-info">
                <div class="mdc-form-field">
                    <label for="override-rarity">Rarity</label>
                    <select id="override-rarity" class="mdc-select override-option rarity-select">
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <div class="mdc-form-field double-select">
                    <label for="override-level">Level</label>
                    <select id="override-level" class="mdc-select override-option level-select">
                        <option value="40">Lvl. 40</option>
                        <option value="1">Lvl. 1</option>
                    </select><select id="override-merge" class="mdc-select override-option merge-select" title="Merged units">
                        <option value="0">+0</option>
                        <option value="1">+1</option>
                        <option value="2">+2</option>
                        <option value="3">+3</option>
                        <option value="4">+4</option>
                        <option value="5">+5</option>
                        <option value="6">+6</option>
                        <option value="7">+7</option>
                        <option value="8">+8</option>
                        <option value="9">+9</option>
                        <option value="10">+10</option>
                    </select>
                </div>
            </div>

            <section id="override-bonus">
                <h3 class="mdc-typography--caption">Bonus</h3>
                <div class="stat-container">
                    <div class="mdc-textfield">
                        <input type="number" id="override-hp-bonus" class="mdc-textfield__input hp-stat stat-bonus" value="0" autocomplete="off">
                        <label for="hp-bonus-1" class="mdc-textfield__label stat" title="A unit is defeated if their Hit Points reach 0.">HP</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-atk-bonus" class="mdc-textfield__input battle-val stat-bonus" value="0" autocomplete="off">
                        <label for="atk-bonus-1" class="mdc-textfield__label stat" title="The higher a unit's Attack, the more damage they deal.">ATK</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-spd-bonus" class="mdc-textfield__input battle-val stat-bonus" value="0" autocomplete="off">
                        <label for="spd-bonus-1" class="mdc-textfield__label stat" title="A unit will attack twice if their Speed is at least 5 more than their foe's Speed.">SPD</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-def-bonus" class="mdc-textfield__input battle-val stat-bonus" value="0" autocomplete="off">
                        <label for="def-bonus-1" class="mdc-textfield__label stat" title="The higher a unit's Defense is, the less damage they take from physical attacks.">DEF</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-res-bonus" class="mdc-textfield__input battle-val stat-bonus" value="0" autocomplete="off">
                        <label for="res-bonus-1" class="mdc-textfield__label stat" title="The higher a unit's Resistance is, the less damage they take from magical attacks.">RES</label>
                    </div>
                </div>
            </section>

            <section id="override-penalty">
                <h3 class="mdc-typography--caption">Penalty</h3>
                <div class="stat-container">
                    <div class="mdc-textfield">
                        <input type="number" id="override-hp-penalty" class="mdc-textfield__input hp-stat stat-penalty" value="0" autocomplete="off">
                        <label for="hp-penalty-1" class="mdc-textfield__label stat" title="A unit is defeated if their Hit Points reach 0.">HP</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-atk-penalty" class="mdc-textfield__input battle-val stat-penalty" value="0" autocomplete="off">
                        <label for="atk-penalty-1" class="mdc-textfield__label stat" title="The higher a unit's Attack, the more damage they deal.">ATK</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-spd-penalty" class="mdc-textfield__input battle-val stat-penalty" value="0" autocomplete="off">
                        <label for="spd-penalty-1" class="mdc-textfield__label stat" title="A unit will attack twice if their Speed is at least 5 more than their foe's Speed.">SPD</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-def-penalty" class="mdc-textfield__input battle-val stat-penalty" value="0" autocomplete="off">
                        <label for="def-penalty-1" class="mdc-textfield__label stat" title="The higher a unit's Defense is, the less damage they take from physical attacks.">DEF</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-res-penalty" class="mdc-textfield__input battle-val stat-penalty" value="0" autocomplete="off">
                        <label for="res-penalty-1" class="mdc-textfield__label stat" title="The higher a unit's Resistance is, the less damage they take from magical attacks.">RES</label>
                    </div>
                </div>
            </section>

            <section id="override-spur">
                <h3 class="mdc-typography--caption">Spur</h3>
                <div class="stat-container">
                    <div class="mdc-textfield">
                        <input type="number" id="override-hp-spur" class="mdc-textfield__input hp-stat stat-spur" value="0" autocomplete="off">
                        <label for="hp-spur-1" class="mdc-textfield__label stat" title="A unit is defeated if their Hit Points reach 0.">HP</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-atk-spur" class="mdc-textfield__input battle-val stat-spur" value="0" autocomplete="off">
                        <label for="atk-spur-1" class="mdc-textfield__label stat" title="The higher a unit's Attack, the more damage they deal.">ATK</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-spd-spur" class="mdc-textfield__input battle-val stat-spur" value="0" autocomplete="off">
                        <label for="spd-spur-1" class="mdc-textfield__label stat" title="A unit will attack twice if their Speed is at least 5 more than their foe's Speed.">SPD</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-def-spur" class="mdc-textfield__input battle-val stat-spur" value="0" autocomplete="off">
                        <label for="def-spur-1" class="mdc-textfield__label stat" title="The higher a unit's Defense is, the less damage they take from physical attacks.">DEF</label>
                    </div>

                    <div class="mdc-textfield">
                        <input type="number" id="override-res-spur" class="mdc-textfield__input battle-val stat-spur" value="0" autocomplete="off">
                        <label for="res-spur-1" class="mdc-textfield__label stat" title="The higher a unit's Resistance is, the less damage they take from magical attacks.">RES</label>
                    </div>
                </div>
            </section>

        </div>

        <div class="tab-panel">

            <div class="mdc-form-field" id="override-spec-cooldown-line">
                <label for="override-spec-cooldown">Special CD</label>
                <select id="override-spec-cooldown" class="mdc-select override-option">
                    <option value="max">Max</option>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>

            <div class="info-section state-section">

                <section id="override-status-section">
                    <h3>Status Effects</h3>
                    <div class="mdc-form-field">
                        <div class="mdc-switch">
                            <input type="checkbox" id="override-candlelight-status" class="mdc-switch__native-control" />
                            <div class="mdc-switch__background">
                                <div class="mdc-switch__knob"></div>
                            </div>
                        </div>
                        <label for="candlelight-status-1" class="mdc-switch-label">Candlelight</label>
                    </div>

                    <div class="mdc-form-field">
                        <div class="mdc-switch">
                            <input type="checkbox" id="override-panic-status" class="mdc-switch__native-control" />
                            <div class="mdc-switch__background">
                                <div class="mdc-switch__knob"></div>
                            </div>
                        </div>
                        <label for="panic-status-1" class="mdc-switch-label">Panic</label>
                    </div>

                    <div class="mdc-form-field">
                        <div class="mdc-switch">
                            <input type="checkbox" id="override-defensive-terrain" class="mdc-switch__native-control" />
                            <div class="mdc-switch__background">
                                <div class="mdc-switch__knob"></div>
                            </div>
                        </div>
                        <label for="defensive-terrain-1" class="mdc-switch-label">Defensive Terrain</label>
                    </div>
                </section>
            </div>

            <div id="override-adjacent-block" class="mdc-form-field adjacent-block">
                <label for="adjacent-1">Adjacent Allies</label>
                <select id="override-adjacent" class="mdc-select override-option adjacent-select battle-val">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
    </div>
    <div class="info-section current-hp">
        <label class="curr-hp-label">Current HP</label>
        <input id="override-curr-hp" class="more-than-zero override-option" value="100" autocomplete="off">%
    </div>
    <div class="info-section">
        <button id="override-reset">Reset</button>
    </div>
    <div>
        <p id="override-msg">* Overrides are applied only if it is possible to do so</p>
    </div>
</div>
