/* Up and Down Arrows */
.sortable th.descend:after{
	font-size: 0.9em;
	content: " \25B2";
}

.sortable th.ascend:after{
	font-size: 0.9em;
	content: " \25BC";
}

.sortable th:hover {
	cursor: pointer;
}
